/* Contenedor principal */
.beca-container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Imagen */
.beca-image {
  width: 30%;
  height: 200px;
  background: #f2f2f2;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  font-size: 1rem;
  margin-left: 15px;
  margin-bottom: 20px;
}

/* Títulos */
.beca-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}

.beca-subtitle {
  font-size: 1.2rem;
  color: #777;
  margin-bottom: 8px;
}

/* Tags */
.beca-tags {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  flex-wrap: wrap;
}

.beca-tag {
  border: 1px solid #aaa;
  border-radius: 20px;
  padding: 5px 14px;
  font-size: 0.9rem;
  background: #f9f9f9;
}

/* Calificación o rating */
.beca-rating {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
  font-size: 1rem;
}

.beca-rating span {
  font-weight: bold;
}

/* Secciones */
.beca-section-title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}

.beca-description {
  line-height: 1.6;
  margin-top: 8px;
  font-size: 1rem;
}

/* Botón */
.beca-button {
  display: inline-block;
  background: #1062fe;
  color: #fff;
  padding: 12px 28px;
  max-width: 200px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 25px;
  transition: background 0.3s;
}

.beca-button:hover {
  background: #333;
}