
.container.headerinsti {
    margin-top: 2%;
    margin-bottom: 1%;
}

.container.kaly {
    margin-top: 1%;
    margin-bottom: 1%;
}

.card.java {
    margin-left: 3.8%;
    width: 14rem;
}

.card.cloud {
    margin-left: 3%;
    width: 14rem;
}

.card.panelsolar {
    margin-left: 3%;
    width: 14rem;
}

.card.mktdigital {
    margin-left: 3%;
    width: 14rem;
}

.row.cardcursos {
    margin-bottom: 5%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.row.vaciacali {
    margin-top: 5%;
}

.row.vaciafavos {
    margin-top: 5%;
}

.badge.caliinst{
    margin-top: 30%;
}
.col-md-2.instifeat{
    margin-right: 1%;
}

.btn.mascursosinsti{
    width: fit-content;
    display: flex;
    flex: content;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    margin-top: 5%;
    justify-content: center;
}

.border.titleinst {
    border: 100% solid #000;
    border-radius: 2%;
}

.btn.favos {
    margin-top: 2%;
}

.btn.masinfoinst {
    margin-top: 2%;
}