/* 
Colores: 
azul-gris: #9FD2D6
azul: #377ECO
púrpura: #5460AC

*/

/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */

/* :root {
  --inter-font: "Inter", sans-serif;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  display: flex;
  font-family: "Inter", sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.foto-usuario {
  width: 200px;
  height: 200px;
}

.title {
  font-size: 35px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400; */
  font-style: normal;
}

.subtitle {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
}

div h4 {
  color: #377ec0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

div p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

img {
  width: 25px;
  height: 25px;
}

.row div {
  font-weight: 100;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.linea {
  border-right: 1px solid;
}

#login {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.logout-word {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  
}

.nav-anchor {
  text-decoration: none;
  color: rgb(91, 91, 91);
  font-size: 20px;
}

.nav-word {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.navigation {
  margin-bottom: 20px;
  padding: 0 0 10px;
}
