/* Tipografía global */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
  line-height: 1.6;
  color: #333;
}

/* Navbar */
.navbar {
  padding: 0.8rem 1rem;
  font-weight: 500;
}

.navbar .nav-link.active {
  color: #1062FE !important;
}

.navbar-brand {
  font-weight: 700;
  color: #1062FE !important;
}


.container-fluid {
  max-width: 1000px;
  margin: 0 auto 20px;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.image-placeholder {
  width: 100%;
  height: 200px;
  background: #f2f2f2;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  font-size: 1rem;
  margin-bottom: 20px;
}


h1 { margin: 0; font-size: 2rem; }
.subtitle { font-size: 1rem; color: #777; margin-bottom: 8px; }
.tags { display: flex; gap: 10px; margin: 10px 0; flex-wrap: wrap; }
.tag { border: 1px solid #aaa; border-radius: 20px; padding: 5px 14px; font-size: 0.9rem; background: #f9f9f9; }
.rating { display: flex; align-items: center; gap: 8px; margin: 10px 0; font-size: 1rem; }
.rating span { font-weight: bold; }
.section-title { margin-top: 20px; font-weight: bold; font-size: 1.2rem; }
p { line-height: 1.6; margin-top: 8px; font-size: 1rem; }

.button {
  display: inline-block;
  background: #1062FE;
  color: #fff;
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 25px;
  transition: background 0.3s;
}
.button:hover { background: #333; }




/* Footer */
footer {
  background: #0d47a1;
  color: white;
  padding: 3rem 1rem;
}

footer h5 {
  font-weight: 600;
  margin-bottom: 1rem;
}

footer a {
  color: #ffffffb3; /* blanco semi-transparente */
  text-decoration: none;
}

footer a:hover {
  color: #fff;
}
footer a i {
  transition: color 0.3s, transform 0.2s;
}
